Django==5.2.7
gunicorn==23.0.0
whitenoise==6.11.0

psycopg2-binary==2.9.11
dj-database-url==3.0.1
python-dotenv

cloudinary==1.45.0
django-cloudinary-storage==0.3.0

social-auth-app-django==5.6.0
social-auth-core==4.8.1

razorpay==2.0.0
twilio==9.8.4
requests==2.32.5