Django==5.2.7
gunicorn==23.0.0
whitenoise==6.11.0

psycopg2-binary==2.9.11
dj-database-url==3.0.1
django-environ==0.14.0
python-dotenv

cloudinary==1.45.0
cryptography==45.0.5
defusedxml==0.7.1
Django==5.2.4
django-cloudinary-storage==0.3.0

Pillow
requests==2.32.5

social-auth-app-django==5.6.0
django-allauth==65.12.0

razorpay==2.0.0
reportlab==4.4.4
xhtml2pdf==0.2.17

twilio==9.8.4
